<div class="header-container">
  <div class="logo-wrap">
    <div class="logo-icon">⚡</div>
    <div class="logo-name">
      <div class="title">{{ title }}</div>
      <div class="sub-title">{{ subTitle }}</div>
    </div>
  </div>
  <div class="header-right">
    <div class="status">
      <div class="dot"></div>
      Live Synced:
      <span class="sync-time">{{ refreshAt }}</span>
    </div>
    <div class="btn-icon-container">
      <button class="refresh-btn" (click)="onRefresh()">
        <span class="icon">⟳</span>
        Refresh Data
      </button>
      <div class="theme">
        @if (isDarkTheme) {
          <button
            type="button"
            class="icon-btn"
            title="Switch to light Theme"
            (click)="toggleTheme()"
          >
            <i class="bi bi-brightness-high"></i>
          </button>
        } @else {
          <button
            type="button"
            class="icon-btn"
            title="Switch to dark Theme"
            (click)="toggleTheme()"
          >
            <i class="bi bi-brightness-high-fill"></i>
          </button>
        }
      </div>
    </div>
  </div>
</div>
